<div class="container">

  <div class="row">
    <!-- loop through all products returned from _http.get -->
    <div *ngFor="let p of products" class="align-items-center border" style="width: 18rem;">

      <h2 class="card-header text-center">
        <!--  display each individual products name -->
        {{ p.name }}
        <!--  button to set the selectedProduct in this component for use in child component -->
        <button (click)="selectProduct(p)" type="button" class="btn btn-info ml-5">Show</button>
      </h2>

      <div class="card-body text-center">
        <h5>${{ p.price }}</h5>
        <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{ p.image_url }}" alt="">

        <div class="card-block w-100">
          <!--  This button will take us to the nested route for editing a product -->
          <button [routerLink]="['edit', p._id]" type="button" class="btn btn-primary mr-5">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>

      </div>
    </div>
  </div>

  <!-- This is a nested component -->
  <div class="row">
    <!-- productToShow comes from the app-product component (child). selectedProduct comes from the products component (parent) -->
    <app-products-info *ngIf="selectedProduct" [productToShow]="selectedProduct"></app-products-info>
  </div>

</div>
<router-outlet></router-outlet>
