<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cars</title>
  </head>
  <body>
    <img src="images/flying-car.png" alt="Flying Car">
    <img src="images/Subaru.jpg" alt="Subaru">
    <img src="images/CarRoundup-Mclaren.jpg" alt="Mclaren">
  </body>
</html>
