<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cats</title>
    <link rel="stylesheet" href="stylesheets/cats.css">
  </head>
  <body>
    <a href="/stripes"><img src="images/cat1.png" alt="A cat"></a>
    <img src="images/cat2.jpg" alt="Another cat">
    <img src="images/kitten.jpg" alt="Kitten">
  </body>
</html>
