<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Counter</title>
  </head>
  <body>
    <h1 class="text-primary">Counter!</h1>
    <p>Times visited: <%= counter %></p>
    <a href="/twice"> <button type="button">Add Two</button> </a>
    <a href="/reset"> <button type="button">Reset</button> </a>
  </body>
</html>
