<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Let's see all the users</h1>
    <% for (var user of all_users) { %>
      <p>
        <%= user %>
      </p>
      <h3>Name: <%= user.first_name %></h3>
      <hr>
    <% } %>
  </body>
</html>
