<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1 class="text-primary">
      {{ title }}
    </h1>
    <button class="btn btn-success" type="button" (click)="showTaskTitles()">Get all Tasks</button>
  </div>
  <div class="row mb-3" *ngFor="let title of titles">
    <p class="mr-auto">{{title.title}}</p>
    <button class="btn btn-primary" type="button" (click)="showTaskDesc(title._id)">Show Description</button>
  </div>
  <div id="root" class="mb-3" *ngIf="this.desc">
    <p>{{this.desc.title}}</p>
    <p>{{this.desc.description}}</p>
  </div>
  <input type="text" name="task" placeholder="Search Task" (keyup)="searchTask($event)">
</div>
