<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
      <h1>Users:</h1>
      <%= JSON.stringify(users) %>
    </p>
  </body>
</html>
